/***************
 *  MY PALETTE *
 * *************
 * rgb(97, 174, 249)
 * rgb(85, 249, 191)
 * rgb(117, 109, 250)
 * **************/



body {
  /*background-color: rgb(116, 201, 242);*/
  background: rgb(97, 173, 249);
  background: -webkit-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: -o-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );*/
}




/********************/
/* ICONS COMPONENTS */
/********************/

.superpower .devicons {
  font-size: 4em;
}
.superpower .devicons-html5 {
  color: rgb(210, 104, 17);
}

.superpower .devicons-javascript_badge {
  color: rgb(214, 203, 55);
}

.superpower .devicons-nodejs_small {
  color: rgb(118, 185, 93);
}

.superpower .devicons-react {
  color: rgb(87, 218, 251);
}

.superpower .devicons-meteor {
  text-shadow: 0px 0px 8px rgb(201, 52, 31), 0px 0px 10px rgb(244, 160, 17);
}

.superpower .devicons-mongodb {
  color: rgb(76, 168, 74);
}

.superpower .eslint.svgIcon {
  width: 4.2em;
}

.superpower .webpack.svgIcon {
  width: 3.5em;
}




/********************/
/* HEADER COMPONENT */
/********************/

.header-main-container {
  position: relative;
}

.ui.centered.blue.card {
  display: none;
}

.header-main-container .ui.grid.content .two.column.row {
  padding-bottom: 0px;
}

.headerContentLeftContainer {

}

.headerContentLeftContainer .meta {
  margin-top: 8px;
}

#myFlags {

}

.headerContentRightContainer {
  text-align: center;
}

.headerContentRightContainer div:first-child {
  text-align: left;
  margin: 3px;
}

.headerContentRightContainer div:last-child {
  text-align: right;
  margin: 3px;
}




/**********************/
/* ABOUTME COMPONENT */
/**********************/

#aboutMe .content{
  padding-top: 8px;
  padding-bottom: 8px;
  /*text-align: center;*/
}




/************************/
/* SUPERPOWERS COMPONENT*/
/************************/

#superpowers .column {
  /*text-align: center;*/
}

#superpowers h3 {
  font-family: 'Permanent Marker', cursive;
}

#superpowers .headerIcon {
  /*font-size: 1.8em;*/
  /*filter: opacity(90%);*/
  /*-webkit-filter: opacity(50%);*/
}

#superpowers .headerText {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.8em;
  color: white;
  text-shadow: 2px 3px 5px rgb(30, 113, 175),
  2px 3px 10px rgb(33, 133, 208),
  2px 3px 25px rgb(97, 173, 249);
  animation-name: levitate;
  animation-duration: 1.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes levitate {
  to {
    position: absolute;
    top: 72px;
    text-shadow: 0px 0px 5px rgb(30, 113, 175),
    0px 0px 10px rgb(33, 133, 208),
    0px 0px 25px rgb(97, 173, 249);
  }
}




/***********************/
/* SUPERPOWER COMPONENT*/
/***********************/

.superpower {
  text-align: center;
  -webkit-filter: opacity(50%) blur(2px);
  filter: opacity(50%) blur(2px);
}

.superpower:hover {
  animation-duration: 500ms;
  animation-name: unblur;
  animation-fill-mode: both;
}

@keyframes unblur {

  0% {
    -webkit-filter: opacity(50%) blur(2px);
    filter: opacity(50%) blur(2px);
  }

  100% {
    -webkit-filter: opacity(100%) blur(0px);
    filter: opacity(100%) blur(0px);
  }
}

.ui.popup {
  font-size: 0.8em;
}




/******************/
/* WORKS COMPONENT*/
/******************/

#works .content {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}




/********************/
/* CONTACT COMPONENT*/
/********************/

#contact .mainContent {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

#contactTop .mail.link.icon {

}

#contactEmail {
  padding-left: 4px;
}

#contactEmail:hover {
  text-decoration: underline;
}

#contactTop span a {
  padding-left: 4px;
}

#linkedinLine {
  /*padding-bottom: 10px;*/
}

#linkedinIcon {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
  min-height: 21px;
}

/*rgb(97, 174, 249)
rgb(85, 249, 191)
rgb(117, 109, 250)*/


#contactFormModal {
  background: rgb(97, 173, 249);
  background: -webkit-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: -o-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
}

#myRecaptcha > div > div {
  margin: auto;
}




/*********************************/
/* CONTACT INNER MODAL COMPONENTS*/
/*********************************/

.innerModal {

}

#contactInnerModalSuccess {

}

#contactInnerModalMissing {

}

#contactInnerModalFailure {

}




/*******************/
/* FOOTER COMPONENT*/
/*******************/

#footer .column {
  text-align: center;
}
