body {
  /*background-color: rgb(116, 201, 242);*/
  background: rgb(97, 173, 249);
  background: -webkit-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: -o-linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  background: linear-gradient(rgba(97, 173, 249) 0%, rgba(97, 173, 249) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );*/
}




/********************/
/* ICONS COMPONENTS */
/********************/

.superpower .devicons {
  font-size: 4em;
}
.superpower .devicons-html5 {
  color: rgb(210, 104, 17);
}

.superpower .devicons-javascript_badge {
  color: rgb(214, 203, 55);
}

.superpower .devicons-nodejs_small {
  color: rgb(118, 185, 93);
}

.superpower .devicons-react {
  color: rgb(87, 218, 251);
}

.superpower .devicons-meteor {
  text-shadow: 0px 0px 8px rgb(201, 52, 31), 0px 0px 10px rgb(244, 160, 17);
}

.superpower .devicons-mongodb {
  color: rgb(76, 168, 74);
}

.superpower .svgIcon {
  width: 3.6em;
}




/********************/
/* HEADER COMPONENT */
/********************/

.header-main-container {
  position: relative;
}


.headerContentRightContainer {
  text-align: center;
}

.headerContentRightContainer div:first-child {
  text-align: left;
  margin: 3px;
}

.headerContentRightContainer div:last-child {
  text-align: right;
  margin: 3px;
}




/**********************/
/* ABOUTME COMPONENT */
/**********************/




/************************/
/* SUPERPOWERS COMPONENT*/
/************************/

#superpowers .column {
  /*text-align: center;*/
}

#superpowers h3 {
  font-family: 'Permanent Marker', cursive;
}

#superpowers .headerIcon {
  /*font-size: 1.8em;*/
  /*filter: opacity(90%);*/
  /*-webkit-filter: opacity(50%);*/
}

#superpowers .headerText {
  font-size: 1.8em;
  color: white;
  text-shadow: 2px 3px 5px rgb(23, 57, 102),
  2px 3px 10px rgb(35, 86, 156),
  2px 3px 15px rgb(51, 118, 208);
}



/***********************/
/* SUPERPOWER COMPONENT*/
/***********************/

.superpower {
  text-align: center;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.superpower:hover {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
}




/*******************/
/* FOOTER COMPONENT*/
/*******************/

#footer .column {
  text-align: center;
}
